# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
ENV/
*.whl

# Django stuff:
*.log
local_settings.py
db.sqlite3
/media/
/static/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Editor configurations and OS files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
.DS_Store?
._*
# etc.
